<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Amadon</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h3>Thank you for your business!</h3>
    <p>We charged your credit card for ${{cur_order.total_price}}</p>
    <p>You have ordered {{all_orders_num}} items so far and spent ${{all_orders_sum}} with Amadon.com!</p>
    <p><a href="/">Go Back</a></p>
</body>
</html>